<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Session Based Storefront</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap-theme.min.css}"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
<link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css" />
<script th:src="@{/webjars/jquery/2.1.0/jquery.js}" src="jquery.js" > </script>
<script th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.js}" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js" > </script>
<script th:src="@{/webjars/angularjs/1.3.0-beta.8/angular.min.js}" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js" > </script>
<script th:src="@{/webjars/angularjs/1.3.0-beta.8/angular-resource.min.js}" src="#" > </script>
<script th:src="@{/webjars/angular-ui-router/0.2.8/angular-ui-router.min.js}" src="#" > </script>
<script th:inline="javascript">
/*<![CDATA[*/
    var URLS = {};
    URLS.getProductList = /*[[@{/shop/rest/products}]]*/ '/dummyrest/products';
    URLS.addToCart = /*[[@{/shop/rest/products}]]*/ '/dummyrest/products';
    URLS.getCategoryList = /*[[@{/shop/rest/categories}]]*/ '/dummyrest/categories';
    URLS.getOrderProductList = /*[[@{/orders/rest/orderProducts}]]*/ '/dummyrest/orderproducts';
    URLS.partialsHome = /*[[@{/shop/partialsHome}]]*/ '/partialsHome';
    URLS.partialsOrder = /*[[@{/orders/partialsOrder}]]*/ '/partialsOrder';
    URLS.productsCount = /*[[@{/orders/rest/productsCount}]]*/ '/dummyrest/productsCount';
    URLS.addToCart = /*[[@{/orders/rest/addToCart}]]*/ '/rest/addToCart';
    URLS.updateOrderProduct = /*[[@{/orders/rest/updateOrderProduct}]]*/ '/rest/updateOrderProduct';
    URLS.deleteFromCart = /*[[@{/orders/rest/deleteFromCart}]]*/ '/rest/deleteFromCart';
    URLS.vcapProperties = /*[[@{/session/rest/vcap}]]*/ '/rest/vcap';
    URLS.partialsVcap = /*[[@{/session/partialsVcap}]]*/ '/partialsVcap';
/*]]>*/
</script>
<script  th:src="@{/js/app.js}" src="../../static/js/app.js" > </script>		
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation" th:replace="fragments/header :: header">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">PSO Shopfront for Demo - will actually come from fragment..</a>
			</div>
			<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Settings for Demo</a></li>
				<li><a href="#">Profile</a></li>
				<li><a href="#">Help</a></li>
			</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div layout:fragment="content">
			<h1>Static content for prototyping purposes only</h1>
				<p>
				This is the layout of the site. The actual content will come from individual views making use of this layout
			</p>
		 </div>		
	</div>
	<div id="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<hr/>
					<small>
					<strong><em>SessionID:</em></strong> <span th:text="${userSessionId}">dummy sessionid</span>,
					<strong><em>Port:</em></strong> <span th:text="${serverPort}">Some Port</span>
					</small>
				</div>
			</div>
		</div>
	</div>
</body>
</html>