<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/sitelayout">
<head>
<title>PSO Shopfront</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css" />
<script  th:src="@{/webjars/jquery/2.1.0/jquery.js}" src="jquery.js" > </script>
<script  th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.js}" 
		src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js" > </script>

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" th:replace="fragments/header :: header">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">PSO Shopfront for Demo - will actually come from fragment..</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Settings for Demo</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </div>
	<div class="container-fluid">
		<div layout:fragment="content">	
			<div class="row">
				<div class="col-sm-12">
					<ul class="nav nav-tabs">
					  <li  class="active"><a href="#" th:href="@{/shop/products}">All</a></li>
					  <li  th:each="category : ${categories}"><a th:href="@{/shop/categories/__${category.id}__/products}" href="#" th:text="${category.name}">Books</a></li>
					</ul>	
				</div>	
			</div>
			<div class="row">	
				<div class="col-sm-12">
					<div class="table-responsive">
						<h3>Products</h3>
						<table class="table table-striped">
							<thead>
								<tr>
									<th width="10%">Category</th>
									<th width="25%">Name</th>
									<th width="30%">Description</th>
									<th width="10%">Unit Price</th>
									<th width="10%">Available Quantity</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${products.empty}">
									<td colspan="6">No Product Found</td>
								</tr>
								<tr th:each="product : ${products}">
									<td th:text="${product.category.name}">Product Category</td>
									<td th:text="${product.name}">Sample Product Name</td>
									<td th:text="${product.description}">Sample Product Description</td>
									<td th:text="${product.unitPrice}">100.99</td>
									<td th:text="${product.inventory.quantity}">10</td>
									<td>
										<form action="#" th:action="@{/orders/addToCart}" method="post">
											<input type="hidden" name="productId" th:value="${product.id}"/> 
											<input type="submit" class="btn btn-sm btn-primary" value="Add To Cart"/>
										</form>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>