<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PSO Shopfront</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap-theme.min.css}"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />	
<link rel="stylesheet" th:href="@{/css/application.css}" href="../../static/css/application.css" />
<script  th:src="@{/webjars/jquery/2.1.0/jquery.js}" src="jquery.js" > </script>
<script  th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.js}" 
		src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.js" > </script>

</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation" th:replace="fragments/header :: header">
		<div class="container-fluid">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">PSO Shopfront for Demo - will actually come from fragment..</a>
			</div>
			<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Settings for Demo</a></li>
				<li><a href="#">Profile</a></li>
				<li><a href="#">Help</a></li>
			</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div th:fragment="content">	
			<div class="row">
				<div class="col-xs-6">
					<ul class="nav nav-tabs">
						<li ng-class="currentCategory==''?'active':''"><a ng-click="showForAllCategory()">All</a></li>
						<li ng-repeat="category in categories" ng-class="currentCategory==category.name?'active':''"><a ng-click="showProductsForCategory(category)">{{category.name}}</a></li>
					</ul>	
				</div>	
				<div class="col-xs-6">
					<ul class="nav nav-pills navbar-right">
					  <li><a href="#" ui-sref="order" class="btn btn-danger"><span class="badge">{{productsCountInCart}}</span> <span class="glyphicon glyphicon-shopping-cart"></span>Shopping Cart</a></li>
					</ul>				
				</div>					
			</div>
			<div class="row">	
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-4">
							<h3>Products</h3>
						</div>
						<div class="col-xs-4">
							<div class="row" ng-if="statusmessage != ''">
								<div class="col-xs-12">
									<p class="bg-success text-center">
										<span ng-bind="statusmessage"></span>
									</p>
								</div>
							</div>
							<div class="row" ng-if="errormessage != ''">
								<div class="col-xs-12">
									<p class="bg-danger text-center">
										<span ng-bind="errormessage"></span>
									</p>
								</div>
							</div>
						</div>							
					</div>
					<div class="table-responsive">
						
						<table class="table table-striped">
							<thead>
								<tr>
									<th width="10%">Category</th>
									<th width="25%">Name</th>
									<th width="30%">Description</th>
									<th width="10%">Unit Price</th>
									<th width="10%">Available Quantity</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="product in products | filter:currentCategoryFilter">
									<td>{{product.category.name}}</td>
									<td>{{product.name}}</td>
									<td>{{product.description}}</td>
									<td>{{product.unitPrice}}</td>
									<td>{{product.inventory.quantity}}</td>
									<td>
											<a href="" class="btn btn-sm btn-primary" ng-click="addToCart(product)">Add To Cart</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>